@keyframes grows {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes close {
    to {
        transform: translateX(100%);
    }
}


@keyframes getMenuTitleABullet {
    from {
        transform: translateY(-50%) scale(0);
    }
    to {
        transform: translateY(-50%) scale(1);
    }
}

@keyframes getDistanceFromBullet {
    from {
        padding-right: 0;
    }
    to {
        padding-right: 50px;
    }
}
@keyframes reversedGetDistanceFromBullet {
    from {
        padding-left: 0;
    }
    to {
        padding-left: 50px;
    }
}

.menu {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    backdrop-filter: blur(10px);
    position: fixed;
    right: 0;
    top: 0;
    padding-top: 60px;
    animation: grows 1s $cubic forwards alternate;
    z-index: 99;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    
    &__container {
        padding: 0 6rem;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: calc(100% - 60px);
    }


    &__itemDirectory {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        height: calc(100% - 116px);
        width: 100%;
    }

    &__title {
        font-size: 2.6rem;
        margin: 0;
        font-weight: 900;
        text-align: right;
        position: relative;
        
        p {
            animation: getDistanceFromBullet .3s .9s forwards alternate;
        }

        &::after {
            content: "";
            width: 2rem;
            height: 2rem;
            background-color: white;
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) scale(0);
            border-radius: 50%;
            animation: getMenuTitleABullet .3s .9s forwards alternate;

        }
    }

    &--en {
        .menu {

            &__title {
                text-align: left;
                p {
                    animation: none;
                    animation: reversedGetDistanceFromBullet .3s .9s forwards alternate;
                }

                &::after {
                    left: 0;

                }
            }

            &__itemDirectory {
                flex-wrap: wrap;
                .menuItem {
                    text-align: left;
                    p {
                        &::after {
                            left: 0;
                        }
                    }
                }
            }
        }
    }

    &--close {
        animation: close .5s $cubic forwards alternate;
    }


    @media (max-width : 992px) {
        .menu {

            &__itemDirectory {
                justify-content: center;
            }

            &__title {
                p {
                    margin: 0;
                }
            }
        }
    }
}