.galleryBox {
    display: flex;
    justify-content: space-between;

    padding: 1rem;

    .galleryBoxTitle {
        flex: 1;
        p {
            &:first-child {
                font-size: 2.5rem;
                font-weight: bold;
            }

        }
    }

    .galleryBoxColumn {
        margin: .5rem;
        transition: .5s $cubic , opacity 0s , transform 0.1s;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
        &__cursor {
            transition: opacity .3s;    
            opacity: 0;
            position: absolute;
            border-radius: 50%;
            background-color: red;
            width: 3rem;
            height: 3rem;
        }

        &:last-child {
            margin-top: 1rem;
        }

        &:hover {
            .galleryBoxColumn__cursor {
                opacity: 1;
            }
        }

    }


    .galleryBoxImageContainer {
        flex: 3;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            cursor: pointer;
        }
    }
}