.languageTrigger {
    position: relative;
    overflow: hidden;
    transition: .3s;
    width: 10rem;
    transition: .3s;
    flex: .20 0 1rem;

    p {
        cursor: pointer;
        display: inline;
        user-select: none;
    }

    &--hide {
        flex: 0 !important;
        opacity: 0;
    }
}