.menuItem {
    text-align: right;
    position: relative;
    
    button {
        background-color: transparent;
        border: none;
        font-size: 2rem;
        text-align: right;
        margin-left: auto;
        color: $beige;

        p {
            margin: 0;
            transition: .1s;
            position: relative;

            span {
                position: relative;
                z-index: 9999;
                
            }


            &:hover {
                text-decoration: underline;
            }
        }
    }


    @media (max-width : 576px) {
        text-align: center;
        p {
            font-size: 1.7rem;
        }
    }

}